.device {
    width: 5rem;
    height: 5rem;
    background-color: var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all 0.15s ease-in-out;
    margin: 0 1rem;
    cursor: pointer;

    .device__icon {
        width: 100%;
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        justify-content: center;

        .icon {
            width: 50%;
            margin: 0;
            padding: 0;
            color: var(--white);
        }
    }
}

// .device:hover {
//     transform: scale(1.1);
// }
