.textarea {
  width: 100%;
  min-height: 220px;
  resize: vertical;
  padding: 16px;
  border-radius: 16px;
  border: 1.5px solid var(--divider);
  font-family: 'JetBrains Mono', monospace;
  font-size: 16px;
  line-height: 1.5;
  outline: none;
  transition: all .18s ease, box-shadow .18s ease;
  max-height: 400px;
}

.textarea:focus,
.input:focus {
  border-color: var(--muted) !important;
}

.input {
  width: 100%;
  padding: 16px;
  border-radius: 14px;
  border: 1.5px solid var(--divider);
  font-family: 'JetBrains Mono', monospace;
  font-size: 15px;
  outline: none;
  transition: all .18s ease, box-shadow .18s ease;
}
